html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.table-menu {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px;

  text-align: center;
  background-color: #ff8217;
  width: 100%;
}
.table-menu-td {
  color: white;
  font-style: italic;
  font-family: "Cardinal-Alternate";
  /*font-size: 14px;*/
}
.table-footer {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px;
  border-collapse: collapse;
  text-align: center;
  background-color: #e2e5e7;
  width: 100%;
}
.table-footer-td {
  color: white;
  padding: 6px;
  font-style: italic;
  font-family: "Cardinal-Alternate";
  font-size: 14px;
}
.table-Infooter {
  border-collapse: collapse;
  border-spacing: 8px 2px;
  text-align: center;
  background-color: #7430f5;
  width: 100%;
}
.table-Infooter-td {
  color: white;
  padding: 3px;
  font-style: italic;
  font-family: "Cardinal-Alternate";
  font-size: 16px;
}
.InFooterHead {
  font-style: italic;
  color: yellow;
  font-family: "Cardinal-Alternate";
  font-size: 22px;
}
hr-footer {
  border-top: 1px solid #ff8217;
  border-bottom: 1px solid #fff;
  margin: 10px 0 8px 0;
}

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: maroon;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}
hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  margin: 10px 0 8px 0;
}
.div-menu {
  position: inherit;
  margin: 100 auto;
  /*height: 100px;*/
  width: 1000px;
  margin: 0 auto;
}
.div-about {
    position: inherit;
    /*margin: 100 auto;*/
    left: 100px;
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    /* background-image: url('../images/aboutus.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-about:hover {
  opacity: 0.7;
  left: 100px;
  margin: 0 auto;
  background-image: url("../bgaboutus-L.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.div-about-u {
  position: inherit;
  left: 100px;
  margin: 0 auto;
  width: 1000px;
}
.div-Services {
  position: inherit;
  width: 1000px;
  margin: 0 auto;
}
.SubHead {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.6;
  color:#808080;
  vertical-align:top;
  
}
